02-temperature-twitter/node-red/flow.json
[
    {
        "id": "e918195f.9cd4a8",
        "type": "serial in",
        "z": "b399119e.62cb8",
        "name": "",
        "serial": "84d300e6.434f6",
        "x": 130,
        "y": 140,
        "wires": [
            [
                "5f47d85.dc07b28"
            ]
        ]
    },
    {
        "id": "bca1d620.b95cf8",
        "type": "debug",
        "z": "b399119e.62cb8",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "false",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "5f47d85.dc07b28",
        "type": "delay",
        "z": "b399119e.62cb8",
        "name": "",
        "pauseType": "rate",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "minute",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "x": 260,
        "y": 240,
        "wires": [
            [
                "9ff9b584.bf1938"
            ]
        ]
    },
    {
        "id": "d8cb1967.2ec478",
        "type": "twitter out",
        "z": "b399119e.62cb8",
        "twitter": "",
        "name": "Tweet",
        "x": 550,
        "y": 260,
        "wires": []
    },
    {
        "id": "9ff9b584.bf1938",
        "type": "function",
        "z": "b399119e.62cb8",
        "name": "Custom text",
        "func": "msg.payload = \"I'm tweeting from Node-Red. \" + msg.payload + \" #JHAL16\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 410,
        "y": 180,
        "wires": [
            [
                "bca1d620.b95cf8",
                "d8cb1967.2ec478"
            ]
        ]
    },
    {
        "id": "84d300e6.434f6",
        "type": "serial-port",
        "z": "",
        "serialport": "/dev/cu.wchusbserial1420",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": false
    }
]